body {
	background-color: #242424;
	color: white;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerGeneral {
	background-color: rgb(204, 204, 204);
	color: #370085;
	padding: 3rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
